/* ----------- INDEX PAGE -----------*/

/* HERO IMAGE AT TOP OF PAGE*/

.hero-container {
  overflow: hidden;
  position: relative;
  max-height: 52vh;
  height: 52vh;
}

.hero-image {
  position: absolute;
  bottom: 0;
  /* liner gradient tints the image darker for readability*/
  background-image: linear-gradient( rgba(0,0,0,.3), rgba(0,0,0,.3) ), url(images/frog.jpg);
  background-size: cover;
  height: auto;
  width: 100vw;
  background-color: #141c25;
  display: flex; /* Change to `display: none` for no hero image */
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  padding: 21vh 0;
}

.ALA-top {
  position: relative;
  text-align: center;
  font-size: 100px;
  color: #ffffff;
  padding-right: 133px;
  margin-bottom: -4.7rem;
  font-weight: bold;
}

.ALA-bottom {
  position: relative;
  text-align: center;
  font-size: 100px;
  color: #EEECEA;
  padding-left: 105px;
  font-weight: bold;
}

.ALA-byline {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  padding-top: 0px;
}

.credit-text {
  position: absolute;
  text-align: left;
  left: 2%;
  bottom: 5%;
}

.ALA-species-credit {
  font-size: 11px;
  color: white;
}

.ALA-image-credit {
  text-align: left;
  font-size: 14px;
  color: white;
}

@media (min-width: 992px){
  .credit-text {
    position: absolute;
    bottom: 3%;
  }
}

@media (max-height: 876px) {
  .hero-container {
    max-height: 75vh;
    height: 66vh;
    display: flex;
  }
}

@media screen and (max-width: 952px){
  /*--    --*/
  .hero-container {
    max-height: 75vh;
    /*height: 66vh;*/
    display: flex;
  }
  .hero-image {
    position: relative;
    background-attachment: scroll;
    background-position: 84% center;
    display: block;
    padding: none;
    align-content: center;
    object-fit: cover;
    padding: 6vh 0;
  }

}

/*----------------------------------------------*/

/*-- Our values --*/

.px-0 {
    padding-left: 0!important;
    padding-right: 0!important;
}

.values-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (min-width: 992px){
  .col-lg-4 {
    float:left;
    width: 33%;
    flex: 1;
    max-width: 33.3333333%;
    position: relative;
    width: 100%;
    min-height: 1px;
    display:flex;
  }
}

.value-feature {
  background: #DBD7D2;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom:40px;
  border-radius: 26px;
}

.value-text {
  color: #222322;
}

.value-block {
    color: #222322;
    padding: 50px 40px;
    float: left;
    display: block;
}

@media screen and (max-width: 952) {
  .value-block {
    padding: 20px 40px;
  }
}

/*----------------------------------------------*/

/*-- Categories of posts buttons --*/

.category-row {
  margin-top:10%;
}

.category-column {
  float: left;
  width: 33%;
  padding: 0 0px;
  flex-direction: column
}

.category-image {
  display: block;
  margin: auto;
  width: auto;
  height: 4.4rem;
  width: 100%;
  text-align: center;
  backface-visibility: hidden;
  transform: perspective(1px) translate3d(0, 15px, 0);
  transition: all .1ms;
}

@media screen and (max-width: 952px) {
  .category-image {
    height: 75px;
  }
  .category-row {
    margin-top: 0%;
  }
}

.honey {
  filter: invert(40%) sepia(35%) saturate(984%) hue-rotate(325deg) brightness(93%) contrast(87%);
}

.honey:hover {
  filter: invert(95%) sepia(43%) saturate(3246%) hue-rotate(313deg) brightness(100%) contrast(102%);
  color: #FFC557;
}

.honey-white {
  filter: invert(100%) brightness(100%);
}

.honey-white:hover {
  filter: invert(95%) sepia(43%) saturate(3246%) hue-rotate(313deg) brightness(100%) contrast(102%);
  color: #FFC557;
}


.home-column-image {
  width: 30%;
  padding: 20px 20px;
  flex-direction: column;
}

.home-column-text {
  width: 30%;
  padding: 20px 20px;
  flex-direction: column;
}

.col-left {
  float: left;
  margin-left: 20%;
}

.col-right {
  float:right;
  margin-right: 20%;
}

img.home-img {
  width: 100%;
  border-style: none;
  height: auto;
  border-radius: 30px;
  color: black;
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(184, 87, 62, 0.1) 0px 0px 8px;
}

img.home-img-transparent {
  width: 95%;
  margin-left: 10%;
  border-style: none;
  height: auto;
}

img.home-img-lens {
  width: 100%;
  border-style: none;
  height: auto;
}

img.lens-logo {
  max-width:2.8rem!important;
}

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.heading-home {
  font-size: 3rem;
}

/* Display the columns below each other instead of side by side on small screens */

@media (max-width: 1660px) {
  .col-left {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .col-right {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  img.home-img {
    margin-left: auto
    margin-right: auto;
  }
}

@media screen and (max-width: 952px) {
  .home-column-image {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
  }
  .home-column-text {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .col-left {
    display: block;
    margin-left: auto;
  }

  .col-right {
    display: block;
    margin-right: auto;
  }

  img.home-img {
  width: 100%;
  margin-left: auto;
  }

  img.home-img-lens {
  width: 100%;
  margin-left: auto;
  }

  img.home-img-transparent {
  width: 100%;
  margin-left: auto;
  }
}

/* possible hex badge code */
.hexBadges img.r1.c0, .hexBadges img.r3.c0, .hexBadges img.r5.c0 {
    left: 323px;
}

.hexBadges img.r0.c1, .hexBadges img.r2.c1, .hexBadges img.r4.c1 {
    left: 438px;
}

/*.hexBadges img.r0.c2, .hexBadges img.r2.c2, .hexBadges img.r4.c2 {
    left: 250px;
}*/

.hexBadges img.r1 {
    top: 50px;
}
.hexBadges img.r2 {
    top: 258px;
}

.hexBadges {
    position: relative;
    width: 500px;
    margin-top: -130px;
    height: 600px;
}

.hexBadges img {
    width: 236px;
    height: auto;
    position: absolute;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: .25s;
    -moz-transition-duration: .25s;
    -o-transition-duration: .25s;
    transition-duration: .25s;
}
img {
    max-width: 100%;
}


