```{=html}

<div id="quarto-margin-sidebar" class="quarto-listing-category category-default">
  <h2>Categories</h2>
  <h3><a href="posts.html">All Posts</a></h3>
  <h3>Data Types</h3>
  <a href="posts.html#category:Summaries">Summaries</a><br>
  <a href="posts.html#category:Maps">Maps</a><br>
  <a href="posts.html#category:Trees">Trees</a><br><br>

  <h3>Taxonomy</h3>
  <iframe
    class="sidebar-iframe"
    loading="eager"
    src="images/plotly/taxonomy_navigation.html"
    height="300px"
    >
    You should see a dendrogram here!
  </iframe>

</div>

```
