/* styling people page */

.posts-list {
  display: grid;
  grid-column: screen;
  grid-template-columns: auto;
  grid-auto-rows: 33.33333%;
}

.posts-list-caption {
  grid-column: 1, 1;
  font-weight: 400;
}

.posts-list .post-preview {
  background-color: green; 
}

.posts-list .metadata {
    font-size: none;
    line-height: none;
    margin-bottom: none;
}

.metadata {
  display:none;
}

.thumbnail {
  float:inherit;
}