
/* Custom theme*/

/* This must remain at the top of this file.                 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('_extensions/quarto-ext/fontawesome/assets/css/all.css');


:root {
  --primary-orange: #E06E53;
  --secondary-orange: #B8573E;
  --main-font: 'Roboto', sans-serif;
  --subheader-font: 'Roboto', sans-serif;
  --mono-font: 'Fira Mono', monospace;
  --header-font: 'Lato' sans-serif;
  --bs-navbar-hover-color: #E06E53;
}

/* navbar */

@media screen and (max-width: 952px){
  /*--    --*/
  .navbar-brand.navbar-brand-logo {
    background-attachment: scroll;
    content: url("./images/logos/ALA_Logo_Mark-only.png");
    height: 50px;
    margin-top: -13px;
    margin-right: -5px;
  }

}

.navbar-brand>img {
    max-height: 48px;
    width: auto;
    padding-left: 9px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
}

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

a.nav-link,
a.nav-link:after,
a.nav-link:before {
  transition: all .3s;
}

a.nav-link {
  position: relative;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--primary-orange) !important;
}

.navbar-title:hover {
    color: var(--primary-orange) !important;
}

.navbar-title {
  display: inline-block;
  padding: 0;
  content: url("./images/logos/ala-labs-logo-white.png");
  padding-left: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100px;
  margin: auto;
}

.navbar-title:hover {
  opacity:50;
  content: url("./images/logos/ala-labs-logo-orange.png");
}

@media screen and (max-width: 952px){
  /*--    --*/
  .navbar-title {
    content: url("./images/logos/ala-labs-logo-orange.png");
  }

}

.navbar-nav .nav-link.active {
  color: var(--primary-orange) !important;
}

.navbar-nav .nav-link:hover {
  color: var(--primary-orange) !important;
}

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:focus {
    color: var(--primary-orange) !important;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--primary-orange);
}

.sidebar nav[role=doc-toc] ul>li>a.active {
    border-left: 1px solid var(--primary-orange) !important;
    color: var(--primary-orange) !important;
}

.dropdown-item:active{
  background-color: var(--primary-orange);
}

/*  A circle image cropper  */

.clipped {
    clip-path: circle();
}

/* link color */

a {
  text-decoration: none;
}

a:hover {
  color: var(--primary-orange);
}

a.white {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #FFC557;
}

/* ALA navbar favicon color */

.bi-ala {
  content: url("./images/favicon.ico");
  height:26px;
}

.bi-ala:hover {
  opacity: 50;
  background-color: white;
  transition: all .3s;
  clip-path: circle();
}

/* figure captions */

.figure-caption {
  text-align: center;
  font-size: .8rem;
}

/* Add space between Posts title & description */
#title-block-header.quarto-title-block.default .quarto-title .title {
    margin-bottom: 10px;
}


/*----------------------------------------------*/




/* ----------- ABOUT PAGE -----------*/

/*-- Team info cards --*/

/* Three columns side by side */
.card-column {
  float: left;
  width: 28.8%;
  margin-bottom: 16px;
  padding: 0 12px;
  flex-direction: row;
  display: block;
}


/* Display the columns below each other instead of side by side on small screens */

@media screen and (max-width: 952px) {
  .card-column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.team-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.team-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.team-image-text {
  color: #E06E53;
  font-size: 14px;
  padding: 16px 28px;
}

.team-image:hover {
  opacity: 0.7;
}

.name {
  color: #B8573E !important;
  margin-bottom: 4px;
  line-height: 1.2;
  text-decoration: none !important;
}

.name:hover {
  color: #E06E53 !important;
  text-decoration: none !important;
}

.job-title {
  color: #222322;
  font-size: 13px;
  margin-bottom:5px;
  line-height: 1;
}


.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #B8573E;
  text-align: center;
  cursor: pointer;
  width: 20%;
  clip-path: circle();
}

.button:hover {
  background-color: #E06E53;
}
/* ----------------------------------*/


/* ----------- PEOPLE PAGES -----------*/

.article-link:hover {
  color: #E06E53;
  text-decoration: none;
  transition: background-size .4s ease;
  border-bottom: 1px solid
}

.article-link:hover::after {
  border-color: #E06E53;
  right: 0;
  border-radius: 1em;
  border-top: .1em solid #E06E53;
  content: "";
  transition: right .4s cubic-bezier(0,.5,0,1),
              border-color .4s ease-out;
}

/* People page buttons */
.button-column {
  float: left;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0 12px;
}

.button-2 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px;
  color: white;
  background-color: #B8573E;
  text-align: center;
  cursor: pointer;
  clip-path: circle();
  text-decoration: none;

}

.button-2:hover {
  background-color: #E06E53;
}

.bio-row {
  flex-direction: column
}

.bio-column-right {
  float: right;
  width: 50%;
  padding: 0 0px;
  flex-direction: column
  margin-left: 25px;
}

.bio-column-left {
  float: right;
  width: 50%;
  padding: 0 0px;
  flex-direction: column
}


/* Display the columns below each other instead of side by side on small screens */

@media screen and (max-width: 952px) {
  .bio-column-right {
    width: 100%;
    display: block;
  }
  .bio-column-left {
    width: 100%;
    display: block;
    padding-top:20px;
    padding-bottom:20px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ----------------------------------*


/* ----------- POSTS -----------*/

/* Author card at the top of each post  */

.sidebar-iframe {
  border: 0px;
}

.author-card {
    color: black;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(184, 87, 62, 0.1) 0px 0px 8px;
    /*box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(184, 87, 62) 0px 0px 0px 1px inset;*/
    border-radius: 30px;
    transition: 0.3s;
    text-decoration: none;
    display: flex;
    margin-bottom: 40px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom:8px;
}

.author-card-text {
  font-size: 0.9rem;
  width: 50%;
}

.author-card-image {
  flex: left;
  width: 16%;
  margin: auto;
  object-fit: contain;
}

@media screen and (max-width: 952px) {
  .author-card {
    color: black;
    background-color: white;
    border-style: solid;
    border-radius: 30px;
    border-color: #E06E53;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-decoration: none;
    display: flex;
  }
  .author-card-text {
    font-size: 0.9rem;
    width: 100%;
  }

  .author-card-image {
    display: block;
    width: 50%;
    margin: auto;
    margin-right: auto !important;
    align-content: center;
    object-fit: center;
  }
}

@media (max-width: 767.98px) {
  .row-b .quarto-layout-row {
    flex-direction: row !important;
}
}

img.rounded {
  object-fit: cover;
  border-radius: 50% !important;
  height: 195px;
  width: 195px;
}

.column-rounded {
  margin-left: auto;
  margin-right: auto;
  width: 50%
}

/* Centre circular images in row layout on phones */

@media (max-width: 767.98px)
.quarto-layout-row {
    align-items: center;!important
}

/*@media screen and (max-width: 952px) {
  .l-body img {
    margin-right: 15px;
    width: 60px;
  }
}*/

.paper-side-column {
  float: left;
  width: 35%;
  padding: 20px 20px;
  flex-direction: column;
  background-color: #EEECEA;
  font-size: .85rem;
  border-radius: 30px;
}

.paper-main-column {
  float: left;
  width: 60%;
  padding: 0 0px;
  flex-direction: column;
  margin-left: 50px;
}

.col-image {
  width: 80%;
}


/* Display the columns below each other instead of side by side on small screens */

@media screen and (max-width: 952px) {
  .paper-side-column {
    width: 100%;
    display: block;
    margin-top: -30px;
  }
  .paper-main-column {
    width: 100%;
    display: block;
    padding-top:20px;
    padding-bottom:20px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-image {
    display: flex;
    justify-content: center;
  }
}

.hex-image-column {
  float:left;
  width: 79%;
}

/* Page buttons highlight colour on Posts */
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--primary-orange);
    border-color: var(--secondary-orange);
}

.page-link {
    color: var(--primary-orange);
}

/* Tab appearance in panel-tabset */


.nav-link {
  color: var(--secondary-orange);
}

.nav-pills .nav-link {
    background: none;
    border: 10px;
    border-radius: 1.00rem;
}

.nav-pills .nav-link.active {
    background-color: #FFC557;
}

.nav-link:hover {
  color: var(--primary-orange);
}

.nav-item .nav-link {
  color: white;
}

.nav-pills .nav-item .nav-link {
  color: var(--secondary-orange);
}

.nav-pills .nav-item .nav-link:hover {
  color: var(--primary-orange;
}

/* Tab appearance in panel-tabset */

.value-box-title {
  font-family: var(--main-font);
}

