
/* base variables */

/* Edit the CSS properties in this file to create a custom
   Distill theme. Only edit values in the right column
   for each row; values shown are the CSS defaults.
   To return any property to the default,
   you may set its value to: unset
   All rows must end with a semi-colon.                      */

/* Optional: embed custom fonts here with `@import`          */
/* This must remain at the top of this file.                 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

html {
  /*-- Main font sizes --*/
  --title-size:      40px;
  --body-size:       1.08rem;
  --code-size:       15.5px;
  --aside-size:      12px;
  --fig-cap-size:    13px;
  /*-- Main font colors --*/
  --title-color:     rgba(0, 0, 0, 0.8);
  --header-color:    rgba(0, 0, 0, 0.8);
  --body-color:      rgba(0, 0, 0, 0.8);
  --aside-color:     rgba(0, 0, 0, 0.6);
  --fig-cap-color:   rgba(0, 0, 0, 0.6);
  /*-- Specify custom fonts ~~~ must be imported above   --*/
  --heading-font:    'Lato', sans-serif;
  --mono-font:       'Fira Code', monospace;
  --body-font:       'Roboto', sans-serif;
  --navbar-font:     'Lato' sans-serif;  /* websites + blogs only */
}

:root {
  --primary-orange: #E06E53;
  --secondary-orange: #B8573E;
  --accent-brown: #CC9364;
  --accent-green: #273B2D;
  --main-font: 'Roboto', sans-serif;
  --subheader-font: 'Roboto', sans-serif;
  --mono-font: 'Fira Mono', monospace;
  --header-font: 'Lato' sans-serif;
}

/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */

/* navbar */

.navbar-brand>img {
    max-height: 48px;
    width: auto;
    padding-left: 9px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 20px;
}

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

a.nav-link,
a.nav-link:after,
a.nav-link:before {
  transition: all .3s;
}

a.nav-link {
  position: relative;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--primary-orange) !important;
}

.navbar-title:hover {
    color: var(--primary-orange) !important;
}

.navbar-title {
  display: inline-block;
  padding: 0;
  content: url("./images/logos/labs-logo_transparent.png");
  padding-left: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: auto;
}

.navbar-title:hover {
  opacity:50;
  content: url("./images/logos/labs-logo_coloured_transparent.png");
}

.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:focus {
    color: var(--primary-orange) !important;
}


.sidebar nav[role=doc-toc] ul>li>a.active {
    border-left: 1px solid var(--primary-orange) !important;
    color: var(--primary-orange) !important;
}

.dropdown-item:active{
  background-color: var(--primary-orange);
}

/*  A circle image cropper  */

.clipped {
    clip-path: circle();
}

/* link color */

a {
  text-decoration: none;
}

a:hover {
  color: var(--primary-orange);
}

/* ALA navbar favicon color */

.bi-ala {
  content: url("./images/favicon.ico");
  height:26px;
}

.bi-ala:hover {
  opacity: 50;
  background-color: white;
  transition: all .3s;
  clip-path: circle();
}

/* figure captions */

.figure-caption {
  text-align: center;
  font-size: .8rem;
}




/*----------------------------------------------*/




/* ----------- ABOUT PAGE -----------*/

/*-- Team info cards --*/

/* Three columns side by side */
.card-column {
  float: left;
  width: 28.8%;
  margin-bottom: 16px;
  padding: 0 12px;
  flex-direction: row;
  display: block;
}


/* Display the columns below each other instead of side by side on small screens */

@media screen and (max-width: 952px) {
  .card-column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.team-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.team-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.team-image-text {
  color: #E06E53;
  font-size: 14px;
  padding: 16px 28px;
}

.team-image:hover {
  opacity: 0.7;
}

.name {
  color: #B8573E !important;
  margin-bottom: 4px;
  line-height: 1.2;
  text-decoration: none !important;
}

.name:hover {
  color: #E06E53 !important;
  text-decoration: none !important;
}

.job-title {
  color: #222322;
  font-size: 13px;
  margin-bottom:5px;
  line-height: 1;
}


.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #B8573E;
  text-align: center;
  cursor: pointer;
  width: 20%;
  clip-path: circle();
}

.button:hover {
  background-color: #E06E53;
}
/* ----------------------------------*/


/* ----------- PEOPLE PAGES -----------*/

.article-link:hover {
  color: #E06E53;
  text-decoration: none;
  transition: background-size .4s ease;
  border-bottom: 1px solid
}

.article-link:hover::after {
  border-color: #E06E53;
  right: 0;
  border-radius: 1em;
  border-top: .1em solid #E06E53;
  content: "";
  transition: right .4s cubic-bezier(0,.5,0,1),
              border-color .4s ease-out;
}

/* People page buttons */
.button-column {
  float: left;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0 12px;
}

.button-2 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px;
  color: white;
  background-color: #B8573E;
  text-align: center;
  cursor: pointer;
  clip-path: circle();
  text-decoration: none;

}

.button-2:hover {
  background-color: #E06E53;
}


/* ----------------------------------*


/* ----------- POSTS -----------*/

/* Author card at the top of each post  */

.sidebar-iframe {
  border: 0px;
}

.author-card {
    color: black;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(184, 87, 62, 0.1) 0px 0px 8px;
    /*box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(184, 87, 62) 0px 0px 0px 1px inset;*/
    border-radius: 30px;
    transition: 0.3s;
    text-decoration: none;
    display: flex;
    margin-bottom: 80px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom:8px;
}

.author-card-text {
  font-size: 0.9rem;
  width: 50%;
}

.author-card-image {
  flex: left;
  width: 16%;
  margin: auto;
  object-fit: contain;
}

@media screen and (max-width: 952px) {
  .author-card {
    color: black;
    background-color: white;
    border-style: solid;
    border-radius: 30px;
    border-color: #E06E53;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-decoration: none;
    display: flex;
  }
  .author-card-text {
    font-size: 0.9rem;
    width: 100%;
  }

  .author-card-image {
    display: block;
    width: 50%;
    margin: auto;
    margin-right: 5px;
    align-content: center;
    object-fit: center;
  }
}

/*@media screen and (max-width: 952px) {
  .l-body img {
    margin-right: 15px;
    width: 60px;
  }
}*/

