.rounded-3 {
    border-radius: var(--bs-border-radius-lg) !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.border-2 {
    border-width: 2px !important;
}

.card {
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    border: 1px solid var(--bs-gray-100);
}

/*
.card:hover {
  opacity: 0.7;
}
*/

.card-img-top {
  height: 200px;
  object-fit: cover;
  object-position: 50% 20%;
  border-radius: var(--bs-border-radius-lg) !important;
}

.card-img-top:hover {
  opacity: 0.7;
}

.card-header {
  border-radius: var(--bs-border-radius-lg) !important;
}

.listing-title {
  font-size: 1.2rem;
}

.listing-author {
  margin-top: .1rem;
  font-size: .7rem;
  color: #a2a2a2;
}
